.userHeaderDiv {
    margin-top: 5px;
}

.logSpan {
    position: absolute;
    top: 2px;
    padding-left: 5px;
    font-size: 160%;
    font-family: "方正姚体";
    color: aliceblue;
    font-style: oblique;
}

.headerNavDiv {
    position: absolute;
    top: 20px;
}


.headerLoginSpan {
    color: #FFE78F;
    font-size: 5%;
}