.title {
    background-color: #FFE78F;
    font-size: 20px;
    height: 40px;
}

.titleLeft {
    background-color: #FFE78F;
    font-size: 20px;
}


.div {
    background-image: url(/public/images/white3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}