.userLoginBackground {
    flex-grow: 1;
    width: 100%;
    background-image:  url(/public/images/loginAndRegister.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.userLoginDivLeft{
    margin-top: 150px;
}
.userLoginDivRight{
    margin-top: 120px;
}
.userLoginSpanText {
    color: rgb(13, 131, 235);
    font-size: 400%;
    font-family: "华文琥珀";
    margin-left: -20%;
}

