.userRegisterBackground {
    height: 100vh;
    width: 100%;
    background-image: url(/public/images/loginAndRegister.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.useRegisterDivLeft{
    margin-top: 50%;
}
.userRegisterDivRight{
    margin-top: 30%;
}
.userRegisterSpanText {
    color: rgb(13, 131, 235);
    font-size: 400%;
    font-family: "华文琥珀";
    margin-left: -16%;
}
